* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  min-height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
}

h1{
  font-size: 4rem;
}

img{
  width: 100%;
}

/* landing page */ 

.landing-container{
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home-image img{
  height: 115%;
  position: relative;
  top: -3rem;
}

.login-container{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  height: 100%;
  gap: 3rem;
  width: 30%;
}

input{
  line-height: 5rem;
  padding-left: 2rem;
  font-size: 2rem;
}

.text-input{
  width: 100%;
  border-radius: 8px;
  border: 1px solid gray;
}

.button-input{
  width: 100%;
  line-height: 5rem;
  background-color: #FF9100;
  color: #fff;
  border-style: none;
  border-radius: 8px;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.4s;
}

.button-input:hover{
  border: 1px solid #FF9100;
  background-color: #fff;
  color: #FF9100;
  width: calc(100% - 1px);
}

.login-title{
  color: #FF9100;
  font-size: 4rem;
}

.login-title span{
  color: #00a0af;
}


/* User dashboard*/

.navbar {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

.navbar-title{
  display: flex;
  width: 50%;
  align-items: center;
  gap: 2rem;
}

.nav-logo{
  width: 30%;
}

.nav-logo img{
  width: 100%;
}

.dashboard-title{
  font-size: 2rem;
}

.navbar-navigation{
  display: flex;
  gap: 3rem;
  align-items: center;
}

.navbar-link{
  font-style: none;
  text-decoration: none;
  color: #FF9100;
}

.special-link{
  background-color: #FF9100;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 8px;
}

.special-link:hover{
  border: 1px solid #FF9100;
  background-color: #fff;
  color: #FF9100;
}

.user-dashboard{
  padding-inline: 5rem;
}

.order-container{
  display: flex;
  min-height: 100vh;
  font-size: 3rem;
  gap: 2rem;
}

.budget-column{
  width: 25%;
  line-height: 6rem;
}

.budget-column span{
  color: #FF9100;
}

.new-order-column{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 3rem;
  width: 75%;
}

.new-order-column h1{
  padding-left: 3rem;
}

.budget-container{
  text-align: center;
  padding: 2rem;
  border-bottom: 2px solid #FF9100;
}

.budget-container h4{
  color: #00000092;
}

.menu-order-container{
  width: 100%;
  display: flex;
  gap: 4rem;
}

.restaurant-menu{
  width: 60%;
  height: 100vh;
  padding: 3rem;
  border-top: 1px solid #FF9100;
}

.order-place-selector{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.order-place-selector select{
  padding: 1rem 3rem;
  line-height: 4rem;
}

.restaurant-order{
  width: 40%;
  padding: 3rem;
  border-top: 1px solid #FF9100;
  border-left: 1rem solid #FF9100;
}

.orders-in-process{
  border-left: 1rem solid #FF9100;
  padding-left: 2rem;
  padding-block: 3rem;
}

.orders-in-process li{
  list-style: none;
  line-height: 4rem;
}

.order-in-process-item{
  border-top: 1px solid #00a0af;
  padding-left: 2rem;
  padding-block: 2rem;
  font-size: 2rem;
}

.restaurant-order-title span{
  color: #00a0af;
}

.menu-container h3{
  margin-block: 3rem;

}

.menu-items li{
  display: flex;
  padding-bottom: 3rem;
  padding-left: 4rem;
  list-style: none;
  gap: 2rem;
}

.menu-items li input{
  color: #00a0af;
  width: 2rem;
  cursor: pointer;
  accent-color: #00a0af;
}

.dollar-sign{
  color: #FF9100;
  font-weight: bold;
}

.subtotal-dishes{
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  width: 100%;
  border-top: 2px solid #00a0af;
  margin-top: 1rem;
}

.subtotal-dishes p b{
  color: #FF9100;
}